# STM32CubeIDE-specific junk
.metadata/
.settings/
.cproject
.project

# Build output folders
/Debug/
/Release/
/build/

# Generated intermediate files
*.o
*.d
*.elf
*.bin
*.hex
*.cyclo
*.su
*.map
*.lst
*.log
*.bak
*.tmp
subdir.mk

# OS junk
.DS_Store
Thumbs.db

# STM32CubeIDE generated launch configs
*.launch

